body {
  background-color: #fffdf9;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  margin-top: 0;
}
#img-caption {
  text-align: center;
}

.Introduction {
  margin: auto;
  padding: 40px;
}

#title {
  width: 700px;
  text-align: center;
  background-color: #f9faf4;
}

.quote {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: auto;
  padding: auto;
}
#image {
  max-width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 25px;
  border: 35px solid #aca89d;
  display: block;
  justify-content: center;
}
.img-div {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
}
#img-div {
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

header {
  text-align: center;
  margin-top: 0;
  background-color: #aca89d;
  color: #fffdf9;
}
header p {
  margin-left: 40%;
  margin-top: 0;
  padding: 0;
  top: 0;
}

.timeline {
  margin: 20px auto;
  max-width: 800px;
}
.event {
  margin-bottom: 60px;
}
.year {
  font-weight: bold;
  font-size: large;
  margin-bottom: 20px;

  text-align: center;
}
.description {
  margin: auto;
  text-align: center;
  font-style: italic;
}

.divider {
  margin: 25px;
  padding: 25px;
}

hr {
  border: 2px solid #aca89d;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 100px;
  margin-right: 100px;
}
